.detail {
    width: 1380px;
    display: grid;
    grid-template-columns: auto auto;

    margin-top: 40px;

    margin-left: auto;
    margin-right: auto;

    &__hero {
        display: flex;
    }

    &__img {
        width: 475px;
    }

    &__heroText {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;

        justify-content: flex-end;
        position: relative;
        width: 340px;
    }

    &__artistImage {
        height: 128px;
        width: 128px;
        margin-bottom: -56px;
    }

    &__nameGroup {
        position: absolute;
        top: -1px;
        background-color: white;
        left: -65px;
        padding-left: 65px;
        padding-bottom: 67px;
    }

    &__artworkName {
        font-size: 56px;
        padding-bottom: 24px;
        color: black;
    }

    &__artistName {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: auto;
        color: #7D7D7D;
    }

    &__artworkText {
        color: #7D7D7D;
        width: 350px;
        margin-top: -48px;
    }

    &__artworkYear {
        font-size: 200px;
        color: #F3F3F3;
        line-height: 172px;
    }

    &__source {
        display: block;
        padding-top: 80px;
    }
}





@media screen and (max-width: 1399px) {
    .detail {
        position: relative;
        width: 688px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        
        &__hero {
            display: block;
            width: 475px;
        }

        &__img {
            width: 475px;
        }

        &__heroText {
            display: block;
            position: absolute;
            top: 0;
            background-color: white;
            left: 248px;
            padding-left: 65px;
            padding-bottom: 48px;
            width: unset;
        }

        &__nameGroup {
            position: unset;
            top: unset;
            background-color: unset;
            left: unset;
            padding-left: unset;
            padding-bottom: unset;
        }


        &__artistImage {
            height: unset;
            width: unset;
            position: absolute;
            left: 256px;
            top: 160px;
            margin-bottom: unset;
        }

        &__copy {
            margin-top: 32px;
        }

        &__artworkText {
            width: 475px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -126px;

        }

        &__artworkName {
            margin-bottom: unset;
        }

        &__artworkYear {
            width: 475px;
            text-align: end;
            line-height: initial;
        }

        &__source {
            width: 475px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 40px;
        }
    }
}



@media screen and (max-width: 767px) {
    .detail {
        width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 68px;

        &__artworkText {
            margin-top: -38px;
            width: 327px;
        }
        &__hero {
            position: relative;
            width: 327px;
            margin-bottom: 80px;   
        }

        &__copy {
            margin-top: unset;
        }

        &__artworkName {
            font-size: initial;
            padding-bottom: 8px;
        }

        &__artworkYear {
            font-size: 100px;
            width: 327px;
            text-align: end;
            color: #F3F3F3;
        }

        &__img {
            width: 100%;
        }

        &__heroText {
            width: 242px;
            height: 56px;
            position: absolute;
            bottom: -56px;
            padding: 24px 24px 24px 18px;
            background-color: white;
            top: unset;
            left: unset;
        }

        &__artistImage {
            height: 64px;
            width: 64px;
            padding-top: 24px;
            position: unset;
            left: unset;
            top: unset;
        }

        &__source {
            padding-top: 68px;
            width: unset;
            margin-left: unset;
            margin-right: unset;
        }
    }
}

@media screen and (max-width: 374px) {
    .detail {
        &__hero {
            width: 272px;
        }

        &__heroText {
            width: 188px;
        }

        &__artworkText {
            width: 272px;
            margin-left: auto;
            margin-right: auto;
        }

        &__artworkYear {
            width: 272px;
            font-size: 80px;
        }
    }
}