@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Libre Baskerville';
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    background: none;
    border: none;
}

h1 {
    font-size: 24px;
    color: #FFFFFF;
}

h2 {
    font-size: 13px;
    color: #FFFFFF;
}

p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
}

a {
    font-weight: 700;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.92857px;
    color: #7D7D7D;
}